<ion-view hide-nav-bar="true" hide-tabs="true" class="approval_details">
    <!--顶部栏目 开始-->
    <ion-header-bar align-title="center" class="bar-positive">
        <div class="buttons">
            <button class="button icon button-clear ion-ios-arrow-back" ng-click="goBack()"></button>
        </div>
        <h1 class="title">{{approvalFieldData.fieldDataTypeName}}</h1>
    </ion-header-bar>
    <!--主内容区域栏目 开始-->
    <ion-content class="has-header has-footer" padding="false">
        <div ng-if = " approvalFieldData.fieldDataTypeCode == 'data' ">
            <div class="list">
                <label class="item">
                    <span>工程名称</span>
                    <span class="item-note">{{approvalFieldData.projectName}}</span>
                </label>
                <label class="item">
                    <span>标段</span>
                    <span class="item-note">{{approvalFieldData.sectionName}}</span>
                </label>
                <label class="item">
                    <span>费用类型</span>
                    <span class="item-note">{{approvalFieldData.costType}}</span>
                </label>
                <label class="item">
                    <span>名称</span>
                    <span class="item-note">{{approvalFieldData.dataName}}</span>
                </label>
            </div>
            <div class="list">
                <label class="item">
                    <span>单位</span>
                    <span class="item-note">{{approvalFieldData.unit}}</span>
                </label>
                <label class="item">
                    <span>数量</span>
                    <span class="item-note">{{approvalFieldData.count}}</span>
                </label>
                <label class="item">
                    <span>单价</span>
                    <span class="item-note">{{approvalFieldData.price|currency:'¥'}}</span>
                </label>
                <label class="item">
                    <span>金额</span>
                    <span class="item-note">{{approvalFieldData.money|currency:'¥'}}</span>
                </label>
            </div>
            <div class="list">
                <label class="item">
                    <span>规格型号</span>
                    <span class="item-note">{{approvalFieldData.specifications}}</span>
                </label>
                <label class="item">
                    <span>备注</span>
                    <span class="item-note">{{approvalFieldData.remark}}</span>
                </label>
            </div>
        </div>

        <div ng-if = "approvalFieldData.fieldDataTypeCode == 'doc' ">
            <div class="list">
                <label class="item">
                    <span>工程名称</span>
                    <span class="item-note">{{approvalFieldData.projectName}}</span>
                </label>
                <label class="item">
                    <span>标段</span>
                    <span class="item-note">{{approvalFieldData.sectionName}}</span>
                </label>
                <label class="item">
                    <span>资料类型</span>
                    <span class="item-note">{{approvalFieldData.costType}}</span>
                </label>
                <label class="item">
                    <span>名称</span>
                    <span class="item-note">{{approvalFieldData.dataName}}</span>
                </label>
            </div>
            <div class="list">
                <label class="item">
                    <span>规格型号</span>
                    <span class="item-note">{{approvalFieldData.specifications}}</span>
                </label>
                <label class="item">
                    <span>备注</span>
                    <span class="item-note">{{approvalFieldData.remark}}</span>
                </label>
            </div>
        </div>

        <div ng-if = "approvalFieldData.fieldDataTypeCode == 'bill' ">
            <div class="list">
                <label class="item">
                    <span>工程名称</span>
                    <span class="item-note">{{approvalFieldData.projectName}}</span>
                </label>
                <label class="item">
                    <span>设施名称</span>
                    <span class="item-note">{{approvalFieldData.specifications}}</span>
                </label>
                <label class="item">
                    <span>费用类型</span>
                    <span class="item-note">{{approvalFieldData.costType}}</span>
                </label>

                <label class="item">
                    <span>名称</span>
                    <span class="item-note">{{approvalFieldData.dataName}}</span>
                </label>
                <label class="item">
                    <span>项目特征</span>
                    <span class="item-note">{{approvalFieldData.remark}}</span>
                </label>
            </div>

            <div class="list">
                <label class="item">
                    <span>单位</span>
                    <span class="item-note">{{approvalFieldData.unit}}</span>
                </label>
                <label class="item">
                    <span>数量</span>
                    <span class="item-note">{{approvalFieldData.count}}</span>
                </label>
                <label class="item">
                    <span>预算单价</span>
                    <span class="item-note">{{approvalFieldData.price_ys|currency:'¥'}}</span>
                </label>
                <label class="item">
                    <span>预算合计</span>
                    <span class="item-note">{{approvalFieldData.money_ys|currency:'¥'}}</span>
                </label>
                <label class="item">
                    <span>审计单价</span>
                    <span class="item-note">{{approvalFieldData.price_sj|currency:'¥'}}</span>
                </label>
                <label class="item">
                    <span>审计合计</span>
                    <span class="item-note">{{approvalFieldData.money_sj|currency:'¥'}}</span>
                </label>
            </div>
            <div class="list">
                <label class="item">
                    <span>工程属性</span>
                    <span class="item-note">{{approvalFieldData.sectionName}}</span>
                </label>
            </div>
        </div>

        <div ng-if = "approvalFieldData.fieldDataTypeCode == 'material' ">
            <div class="list">
                <label class="item">
                    <span>工程名称</span>
                    <span class="item-note">{{approvalFieldData.projectName}}</span>
                </label>
                <label class="item">
                    <span>费用类型</span>
                    <span class="item-note">{{approvalFieldData.costType}}</span>
                </label>
                <label class="item">
                    <span>材料名称</span>
                    <span class="item-note">{{approvalFieldData.dataName}}</span>
                </label>
            </div>

            <div class="list">
                <label class="item">
                    <span>单位</span>
                    <span class="item-note">{{approvalFieldData.unit}}</span>
                </label>
                <label class="item">
                    <span>数量</span>
                    <span class="item-note">{{approvalFieldData.count}}</span>
                </label>
                <label class="item">
                    <span>单价</span>
                    <span class="item-note">{{approvalFieldData.price|currency:'¥'}}</span>
                </label>
                <label class="item">
                    <span>金额</span>
                    <span class="item-note">{{approvalFieldData.money|currency:'¥'}}</span>
                </label>
                <label class="item">
                    <span>规格型号</span>
                    <span class="item-note">{{approvalFieldData.specifications}}</span>
                </label>
                <label class="item">
                    <span>供应商</span>
                    <span class="item-note">{{approvalFieldData.supplier}}</span>
                </label>
                <label class="item">
                    <span>备注</span>
                    <span class="item-note">{{approvalFieldData.remark}}</span>
                </label>
            </div>
        </div>

        <div class="list">
            <label class="item">
                <span>操作人</span>
                <span class="item-note">{{approvalFieldData.uname}}</span>
            </label>
            <label class="item">
                <span>录入时间</span>
                <span class="item-note">{{approvalFieldData.creatTime}}</span>
            </label>
        </div>
        <div class="list">
            <label class="item">
                <span>审批状态</span>
                <span class="item-note" style="color: #e42112">{{approvalFieldData.approvedStatusName}}</span>
            </label>
        </div>
        <div class="list infoPreview" ng-show="fileList.length > 0">
            <dl class="takePic">
                <dt>附件</dt>
                <dd class="picsArea clearfix">
                    <ul id="medicalRecord" ng-repeat="_file in fileList">
                        <li class="pics">
                            <img ng-if="_isIOS" src="{{_file.sourceFilePath}}" fileName="{{_file.fileName}}" ng-click="preViewFile(_file.sourceFilePath, $event)">
                            <img ng-if="!_isIOS" src="{{_file.sourceFilePath}}" fileName="{{_file.fileName}}" ng-click="showBigImage(_file.sourceFilePath)">
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
    </ion-content>
    <div class="bar bar-footer" style="padding:0;border-top:1px solid #ddd">
        <div class="row" style="padding:0">
            <button class="button button-block button-positive" style="margin:0; font-size: large"
                    ng-click="approvedField($event)">审批
            </button>
        </div>
    </div>
</ion-view>


