<ion-view hide-nav-bar="true" hide-tabs="true" class="approval dataCollect">
    <!--顶部栏目 开始-->
    <ion-header-bar align-title="center" class="bar-positive">
        <div class="buttons">
            <button class="button icon button-clear ion-ios-arrow-back" ng-click="goBack()"></button>
        </div>
        <h1 class="title">领导审批</h1>
    </ion-header-bar>
    <!--主内容区域栏目 开始-->
    <ion-content class="has-header has-tabs" padding="false">
        <ion-refresher pulling-text="下拉刷新" pulling-icon="ion-load-a" refreshing-text="刷新成功" refreshing-icon="ion-ios-checkmark-outline" on-refresh="refreshApprovalFieldDatas()"></ion-refresher>
        <ion-list can-swipe="true">
            <ion-item class="card" ng-click="goApprovalDetails(approvalFieldData)" ng-repeat="approvalFieldData in pageData.approvalFieldDataList" on-finish-render-filters>
                <div class="item item-text-wrap">
                    {{approvalFieldData.projectName}}
                </div>
                <div class="item_footer">
                    <div class="item item-icon-left" href="#">
                        <i class="icon ion-ios-keypad-outline"></i>
                        {{approvalFieldData.fieldDataTypeName}}
                    </div>
                    <div class="item item-icon-left" href="#">
                        <i class="icon ion-laptop"></i>
                        {{approvalFieldData.dataName}}
                    </div>

                    <div class="item item-icon-left" href="#">
                        <i class="icon ion-ios-person-outline"></i>
                        {{approvalFieldData.uname}}
                    </div>
                    <div class="item item-icon-left" href="#">
                        <i class="icon ion-ios-clock-outline"></i>
                        {{approvalFieldData.creatTime}}
                    </div>

                    <!--<div>-->
                        <!--<div class="item item-icon-left" href="#" style="float:left;width:49%;">-->
                            <!--<i class="icon ion-ios-keypad-outline"></i>-->
                            <!--{{approvalFieldData.fieldDataTypeName}}-->
                        <!--</div>-->
                        <!--<div class="item item-icon-left" href="#" style="float:left;width:49%;">-->
                            <!--<i class="icon ion-laptop"></i>-->
                            <!--{{approvalFieldData.dataName}}-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div>-->
                        <!--<div class="item item-icon-left" href="#" style="float:left;width:49%;">-->
                            <!--<i class="icon ion-ios-person-outline"></i>-->
                            <!--{{approvalFieldData.uname}}-->
                        <!--</div>-->
                        <!--<div class="item item-icon-left" href="#" style="float:left;width:49%;">-->
                            <!--<i class="icon ion-ios-clock-outline"></i>-->
                            <!--{{approvalFieldData.creatTime}}-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </ion-item>
        </ion-list>

        <ion-infinite-scroll ng-if="pageData.moreData" on-infinite="loadApprovalFieldDatasMore()" distance="1%"></ion-infinite-scroll>
        <div ng-if="pageData.approvalFieldDataList.length==0">
            <div ng-include="'templates/noResult.html'"></div>
        </div>
    </ion-content>
</ion-view>

