<ion-view hide-nav-bar="true" hide-tabs="true" class="data_add">
    <!--顶部栏目 开始-->
    <ion-header-bar align-title="center" class="bar-positive">
        <div class="buttons">
            <button class="button icon button-clear ion-ios-arrow-back" ng-click="goBack()"></button>
        </div>
        <h1 class="title">修改数据</h1>
    </ion-header-bar>
    <!--主内容区域栏目 开始-->
    <ion-content class="has-header has-footer" padding="false">
        <div class="list">

            <label class="item item-icon-right" ng-click="openProjectModal()">
                <span class="padding-right">工程名称</span>
                <span class="item-note">{{pageData.fieldData.projectText||'请选择工程'}}</span>
                <input type="hidden" data_key="pageData.fieldData.projectName" ng-model="pageData.fieldData.projectName">
                <i class="icon ion-ios-arrow-right"></i>
            </label>
            <label class="item item-input">
                <span class="padding-right">设施名称</span>
                <input class="text-right" type="text" placeholder="请输入设施名称" data_key="pageData.fieldData.specifications" ng-model="pageData.fieldData.specifications"/>
            </label>
            <label class="item item-icon-right" ng-click="openCostsTypeModal()">
                <span class="padding-right">费用类型</span>
                <span class="item-note">{{pageData.fieldData.costType}}</span>
                <input type="hidden" data_key="pageData.fieldData.nid" ng-model="pageData.fieldData.nid">
                <i class="icon ion-ios-arrow-right"></i>
            </label>
            <label class="item item-input">
                <span class="padding-right">名称</span>
                <input class="text-right" type="text" placeholder="请输入名称" data_key="pageData.fieldData.dataName" ng-model="pageData.fieldData.dataName"/>
            </label>
            <label class="item item-input mark_ins">
                <span class="padding-right">项目特征</span>
                <textarea class="text-right" style="padding-right:24px;" placeholder="请输入项目特征" rows="5"  data_key="pageData.fieldData.remark" ng-model="pageData.fieldData.remark"></textarea>
            </label>
        </div>
        <div class="list">
            <label class="item item-icon-right" ng-click="openUnitModal()">
                <span class="padding-right">单位</span>
                <span class="item-note" data_key="pageData.fieldData.unit">{{pageData.fieldData.unit||'请选择单位'}}</span>
                <i class="icon ion-ios-arrow-right"></i>
            </label>
            <label class="item item-input">
                <span class="padding-right">数量</span>
                <input class="text-right" type="text" placeholder="请输入数量" data_key="pageData.fieldData.count" ng-model="pageData.fieldData.count" ng-blur="cal()"/>
            </label>
            <!--<label class="item item-input">-->
                <!--<span class="padding-right">单价</span>-->
                <!--<input ng-if="pageData.fieldData.itemCode.substring(0, 3) != '700'" class="text-right" type="text" placeholder="请输入单价" data_key="pageData.fieldData.price" ng-model="pageData.fieldData.price" ng-blur="cal()"/>-->
                <!--<input ng-if="pageData.fieldData.itemCode.substring(0, 3) == '700' && pageData.hasReadEditRight700" class="text-right" type="text" placeholder="请输入单价" data_key="pageData.fieldData.price" ng-model="pageData.fieldData.price" ng-blur="cal()"/>-->
                <!--<input readonly="readonly" ng-if="pageData.fieldData.itemCode.substring(0, 3) == '700' && pageData.hasOnlyReadRight700 && !pageData.hasReadEditRight700" class="text-right" type="text" placeholder="请输入单价" data_key="pageData.fieldData.price" ng-model="pageData.fieldData.price" ng-blur="cal()"/>-->
                <!--<input ng-if="pageData.fieldData.itemCode.substring(0, 3) == '700' && !pageData.hasOnlyReadRight700 && !pageData.hasReadEditRight700" style="display: none" class="text-right" type="text" placeholder="请输入单价" data_key="pageData.fieldData.price" ng-model="pageData.fieldData.price" ng-blur="cal()"/>-->
                <!--<input ng-if="pageData.fieldData.itemCode.substring(0, 3) == '700' && !pageData.hasOnlyReadRight700 && !pageData.hasReadEditRight700" readonly="readonly" class="text-right" type="text" value = "***"/>-->

            <!--</label>-->
        </div>
        <div class="list" hidden >
            <label class="item item-icon-right" ng-click="openSectionModal()">
                <span class="padding-right">工程属性</span>
                <span class="item-note">{{pageData.fieldData.sectionName||'请选择工程属性'}}</span>
                <input type="hidden" data_key="pageData.fieldData.section" ng-model="pageData.fieldData.section">
                <i class="icon ion-ios-arrow-right"></i>
            </label>
        </div>
        <div class="list">
            <label class="item item-checkbox item-checkbox-right">
                <span>需要审批</span>
                <label class="checkbox checkbox-calm">
                    <input type="checkbox" id="needApproved">
                </label>
            </label>
        </div>

        <div class="list infoPreview">
            <dl class="takePic">
                <dt>附件</dt>
                <dd class="picsArea clearfix">
                    <ul id="medicalRecord" >
                        <li class="pics" on-hold="showDeleteBtn($event)" id="{{_file.id}}" ng-repeat="_file in pageData.fileList">
                            <span class="ion ion-ios-minus assertive del_btn" ng-click="delOldPic($event)"></span>
                            <img ng-if="_isIOS" src="{{_file.sourceFilePath}}" fileName="{{_file.fileName}}" ng-click="preViewFile(_file.sourceFilePath, $event)">
                            <img ng-if="!_isIOS" src="{{_file.sourceFilePath}}" fileName="{{_file.fileName}}" ng-click="showBigImage(_file.sourceFilePath)">
                        </li>
                        <li class="pics" type="new" on-hold="showDeleteBtn($event)">
                            <span class="ion ion-ios-minus assertive del_btn" ng-click="delPic($event)"></span>
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
    </ion-content>
    <div class="bar bar-footer" style="padding:0;border-top:1px solid #ddd">
        <div class="row" style="padding:0">
            <button class="button button-block button-positive" style="margin:0; font-size: large" ng-click="editData($event)">提交</button>
        </div>
    </div>
</ion-view>

