<ion-view hide-nav-bar="true" hide-tabs="true" class="approval dataCollect">
    <!--顶部栏目 开始-->
    <ion-header-bar align-title="center" class="bar-positive">
        <div class="buttons">
            <button class="button icon button-clear ion-ios-arrow-back" ng-click="goBack()"></button>
        </div>
        <h1 class="title">签到</h1>
    </ion-header-bar>
    <!--主内容区域栏目 开始-->
    <ion-content class="has-header has-tabs" padding="false">
        <div id="allmap" style="width: 100%;height: 600px;overflow: hidden;margin:0;position:absolute;z-index:10001"></div>
    </ion-content>
</ion-view>