<ion-view hide-nav-bar="true" hide-tabs="true" class="approval dataCollect">
    <!--顶部栏目 开始-->
    <ion-header-bar align-title="center" class="bar-positive">
        <div class="buttons">
            <button class="button icon button-clear ion-ios-arrow-back" ng-click="goBack()"></button>
        </div>
        <h1 class="title">签到管理</h1>
    </ion-header-bar>
    <!--主内容区域栏目 开始-->
    <ion-content class="has-header has-tabs" padding="false">
        <div id="allmap" style="width: 100%;height: 800px;overflow: hidden;margin:0;position:absolute;z-index:10001"></div>
    </ion-content>
    <div class="bar bar-footer" style="padding:0;border-top:1px solid #ddd">
        <div class="row" style="padding:0">
            <button class="button button-block button-assertive" style="margin:0; " ng-click="clockingin($event, 0)"><i class="icon ion-arrow-shrink" ></i>上午上班</button>
            <button class="button button-block button-calm" style="margin:0; " ng-click="clockingin($event, 1)"><i class="icon ion-arrow-expand" ></i>上午下班</button>
            <button class="button button-block button-assertive" style="margin:0; " ng-click="clockingin($event, 2)"><i class="icon ion-arrow-shrink" ></i>下午上班</button>
            <button class="button button-block button-calm" style="margin:0; " ng-click="clockingin($event, 3)"><i class="icon ion-arrow-expand" ></i>下午下班</button>

        </div>
    </div>
</ion-view>