<ion-view hide-nav-bar="true" hide-tabs="true" class="data_add">
    <!--顶部栏目 开始-->
    <ion-header-bar align-title="center" class="bar-positive">
        <div class="buttons">
            <button class="button icon button-clear ion-ios-arrow-back" ng-click="goBack()"></button>
        </div>
        <h1 class="title" ng-if="pageData.type == 'data'">费用详情</h1>
        <h1 class="title" ng-if="pageData.type == 'doc'">资料详情</h1>
    </ion-header-bar>
    <!--主内容区域栏目 开始-->
    <ion-content class="has-header" padding="false">
        <div class="list">
            <label class="item">
                <span>工程名称</span>
                <span class="item-note">{{fieldData.projectName}}</span>
            </label>
            <label class="item">
                <span ng-if="pageData.type == 'data'">费用类型</span>
                <span ng-if="pageData.type == 'doc'">资料类型</span>
                <span class="item-note">{{fieldData.costType}}</span>
            </label>
            <label class="item">
                <span>标段(属性)</span>
                <span class="item-note">{{fieldData.sectionName}}</span>
            </label>
            <label class="item">
                <span>名称</span>
                <span class="item-note">{{fieldData.dataName}}</span>
            </label>
            <label class="item">
                <span>规格型号(设施名称)</span>
                <span class="item-note">{{fieldData.specifications}}</span>
            </label>
        </div>
        <div class="list" ng-if="pageData.type == 'data'">
            <label class="item">
                <span>单位</span>
                <span class="item-note">{{fieldData.unit}}</span>
            </label>
            <label class="item">
                <span>数量</span>
                <span class="item-note">{{fieldData.count}}</span>
            </label>
            <label class="item">
                <span>单价</span>
                <span class="item-note" ng-if="fieldData.itemCode.substring(0, 3) != '700'">{{fieldData.price|currency:'¥'}}</span>
                <span class="item-note" ng-if="fieldData.itemCode.substring(0, 3) == '700' && (pageData.hasOnlyReadRight700 || pageData.hasReadEditRight700)">{{fieldData.price|currency:'¥'}}</span>
                <span class="item-note" ng-if="fieldData.itemCode.substring(0, 3) == '700' && !pageData.hasOnlyReadRight700 && !pageData.hasReadEditRight700">***</span>

            </label>
            <label class="item">
                <span>金额</span>
                <span class="item-note" ng-if="fieldData.itemCode.substring(0, 3) != '700'">{{fieldData.money|currency:'¥'}}</span>
                <span class="item-note" ng-if="fieldData.itemCode.substring(0, 3) == '700' && (pageData.hasOnlyReadRight700 || pageData.hasReadEditRight700)">{{fieldData.money|currency:'¥'}}</span>
                <span class="item-note" ng-if="fieldData.itemCode.substring(0, 3) == '700' && !pageData.hasOnlyReadRight700 && !pageData.hasReadEditRight700">***</span>

            </label>
            <label class="item" ng-if="fieldData.itemCode.substring(0,3)== '700'">
                <span>供应商</span>
                <span class="item-note">{{fieldData.supplier}}</span>
            </label>
        </div>
        <div class="list">
            <label class="item">
                <span>备注(特征)</span>
                <span class="item-note">{{fieldData.remark}}</span>
            </label>
        </div>
        <div class="list">
            <label class="item">
                <span>经办人</span>
                <span class="item-note">{{fieldData.uname}}</span>
            </label>
            <label class="item">
                <span>登记时间</span>
                <span class="item-note">{{fieldData.creatTime}}</span>
            </label>
        </div>
        <div class="list">
            <label class="item">
                <span>审批状态</span>
                <span class="item-note" style="color: #e42112">{{fieldData.approvedStatusName}}</span>
            </label>
            <label class="item" ng-show="needApproval(fieldData.needApproved)">
                <span>当前审批人</span>
                <span class="item-note">{{fieldData.currentApprovedUser}}</span>
            </label>
        </div>
        <div class="list infoPreview" ng-show="fileList.length > 0">
            <dl class="takePic">
                <dt>附件</dt>
                <dd class="picsArea clearfix">
                    <ul id="medicalRecord" ng-repeat="_file in fileList">
                        <li class="pics">
                            <!--<img ng-if="_isIOS" src="{{_file.sourceFilePath}}" fileName="{{_file.fileName}}" ng-click="preViewFile(_file.sourceFilePath, $event)">-->
                            <img ng-if="_isIOS" src="{{_file.sourceFilePath}}" fileName="{{_file.fileName}}" ng-click="showBigImage(_file.sourceFilePath)">
                            <img ng-if="!_isIOS" src="{{_file.sourceFilePath}}" fileName="{{_file.fileName}}" ng-click="showBigImage(_file.sourceFilePath)">
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
    </ion-content>
</ion-view>


