<ion-modal-view class="">
    <ion-header-bar class="bar bar-header bar-stable">
        <button class="button button-clear"><span class="positive">项目特征</span></button>
        <button class="button button-clear" ng-click="closeFeatureModal()">
            <i style="color:#999" class="icon ion-android-cancel"></i>
        </button>
    </ion-header-bar>
    <ion-content>
        <div class="row header ">
            <div class="col col-10" align="center">序号</div>
            <div class="col col-30" align="center">名称</div>
            <div class="col col-30" align="center">数量</div>
            <div class="col col-20" align="center">单位</div>
            <div class="col col-10" align="center">操作</div>
        </div>

        <div class="row featureRow" ng-repeat="(featureIndex, feature) in pageData.features">
            <div class="col col-10" align="center">{{featureIndex + 1}}</div>
            <div class="col col-30 featureCol" align="center"><input type="text" value="{{feature.mc}}" style="width: 100px" placeholder="名称"/></div>
            <div class="col col-30 featureCol" align="center"><input type="text" id="count" style="width: 100px" placeholder="数量"/></div>
            <div class="col col-20 featureCol" align="center"><input type="text" value="{{feature.dw}}" style="width: 60px" placeholder="单位"/></div>
            <div class="featureCol" style="display: none">9</div>
            <div class="col col-10 featureCol" align="center">
                <button class="button button-small button-light icon ion-ios-minus-outline" ng-click="minusLine(feature.id)"></button>
            </div>
        </div>
        <div class="featureTableNew"></div>
        <label class="item item-input" ng-click="addLine()">
            <button class="button button-light icon ion-ios-plus-outline"></button>
        </label>
    </ion-content>
    <div class="bar bar-footer" style="padding:0;border-top:1px solid #ddd">
        <div class="row" style="padding:0">
            <button class="button button-block button-positive" style="margin:0; font-size: large"
                    ng-click="mergeFeature($event)">确定
            </button>
        </div>
    </div>
</ion-modal-view>