<ion-modal-view class="">
    <ion-header-bar class="bar bar-header bar-stable">
      <button class="button button-clear"><span class="positive">选择设施名称</span></button>
      <h1 class="title"></h1>
      <button class="button button-clear" ng-click="closeLocationModal()"><i style="color:#999" class="icon ion-android-cancel"></i></button>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <div class="item" value="{{location.mc}}" ng-click="getLocation(location)" ng-repeat="location in pageData.locations">{{location.mc}}</div>
      </div>
    </ion-content>
  </ion-modal-view>


