<ion-modal-view class="">
    <ion-header-bar class="bar bar-header bar-stable">
      <button class="button button-clear"><span class="positive">选择设施名称</span></button>
      <h1 class="title"></h1>
      <button class="button button-clear" ng-click="closeLocationModal()"><i style="color:#999" class="icon ion-android-cancel"></i></button>
    </ion-header-bar>
    <ion-content>

      <div class="list">
          <div class="item-input-inset">
              <label class="item-input-wrapper" style="background: #fff;">
                  <i class="icon ion-ios-search placeholder-icon"></i>
                  <input type="search" ng-model="pageData.search.shmc" placeholder="搜索">
              </label>
          </div>
        <div class="item" value="{{location.mc}}" ng-click="getLocation(location)" ng-if="(pageData.search.shmc=='' || location.mc.indexOf(pageData.search.shmc)>=0)" ng-repeat="location in pageData.locations">{{location.mc}}</div>
      </div>
    </ion-content>
  </ion-modal-view>


