<ion-modal-view class="">
    <ion-header-bar class="bar bar-header bar-stable">
      <button class="button button-clear"><span class="positive">选择设施名称</span></button>
      <h1 class="title"></h1>
      <button class="button button-clear" ng-click="closeLocationModal()"><i style="color:#999" class="icon ion-android-cancel"></i></button>
    </ion-header-bar>
    <ion-content>

      <div class="list">
          <div class="item-input-inset">
              <label class="item-input-wrapper" style="background: #fff;">
                  <i class="icon ion-ios-search placeholder-icon"></i>
                  <input type="search" ng-model="pageData.search.shmc" placeholder="搜索">
              </label>
          </div>

          <ion-checkbox ng-if="(pageData.search.shmc=='' || location.mc.indexOf(pageData.search.shmc)>=0)" ng-repeat="location in pageData.locations"
                        ng-model="location.checked"
                        ng-checked="location.checked">
              {{location.mc}}
          </ion-checkbox>

        <!--<div class="item" value="{{location.mc}}" ng-click="getLocation(location)" ng-if="(pageData.search.shmc=='' || location.mc.indexOf(pageData.search.shmc)>=0)" ng-repeat="location in pageData.locations">{{location.mc}}</div>-->
      </div>
    </ion-content>

    <div class="bar bar-footer" style="padding:0;border-top:1px solid #ddd">
        <div class="row" style="padding:0">
            <button class="button button-block button-positive" style="margin:0; font-size: large"
                    ng-click="getLocation($event)">确定
            </button>
        </div>
    </div>
  </ion-modal-view>


