<ion-view hide-nav-bar="true" hide-tabs="true" class="data_add">
    <!--顶部栏目 开始-->
    <ion-header-bar align-title="center" class="bar-positive">
        <div class="buttons">
            <button class="button icon button-clear ion-ios-arrow-back" ng-click="goBack()"></button>
        </div>
        <h1 class="title">材料出库</h1>
    </ion-header-bar>
    <!--主内容区域栏目 开始-->
    <ion-content class="has-header has-footer" padding="false">
        <div class="list">
            <label class="item">
                <span>工程名称</span>
                <span class="item-note">{{pageData.fieldData.projectName}}</span>
            </label>
            <label class="item">
                <span>费用类型</span>
                <span class="item-note">{{pageData.fieldData.costType}}</span>
            </label>
            <label class="item">
                <span>标段(属性)</span>
                <span class="item-note">{{pageData.fieldData.sectionName}}</span>
            </label>
            <label class="item">
                <span>名称</span>
                <span class="item-note">{{pageData.fieldData.dataName}}</span>
            </label>
            <label class="item">
                <span>规格型号(设施名称)</span>
                <span class="item-note">{{pageData.fieldData.specifications}}</span>
            </label>
            <label class="item">
                <span>单位</span>
                <span class="item-note">{{pageData.fieldData.unit}}</span>
            </label>
            <label class="item">
                <span>数量</span>
                <span class="item-note">{{pageData.fieldData.count}}</span>
            </label>
            <label class="item">
                <span>库存数量</span>
                <span class="item-note" style="color: #e42112">{{pageData.storageCount}}</span>
            </label>
        </div>

        <div class="list">
            <label class="item item-icon-right" ng-click="openProjectModal()">
                <span class="padding-right">工程名称</span>
                <span class="item-note">{{pageData.fieldData.projectText||'请选择工程'}}</span>
                <input type="hidden" data_key="pageData.fieldData.outProId" ng-model="pageData.fieldData.outProId">
                <i class="icon ion-ios-arrow-right"></i>
            </label>

            <label class="item item-input">
                <span class="padding-right">出库数量</span>
                <input class="text-right" type="number" placeholder="请输入数量" data_key="pageData.fieldData.outCount" ng-model="pageData.fieldData.outCount"/>
            </label>
        </div>
    </ion-content>

    <div class="bar bar-footer" style="padding:0;border-top:1px solid #ddd">
        <div class="row" style="padding:0">
            <button class="button button-block button-positive" style="margin:0; font-size: large" ng-click="outStorage($event)">出库</button>
        </div>
    </div>
</ion-view>

