<ion-view hide-nav-bar="true" class="project_manage" style="background:#f5f5f5">
    <!--顶部栏目 开始-->
    <ion-header-bar align-title="center" class="bar-positive">
        <!--    <div class="buttons">
              <button class="button icon button-clear ion-ios-arrow-back" ng-click="goBack()"></button>
            </div>-->
        <h1 class="title">首页</h1>
    </ion-header-bar>
    <!--主内容区域栏目 开始-->
    <ion-content class="has-header has-tabs" padding="false">
        <ion-slide-box active-slide="bannerSlide" does-continue="true" delegate-handle="slideimgs" slide-interval="4000" auto-play="true" class="banner_area" style="height: 200px">
            <ion-slide ng-repeat="ad in ads track by $index">
                <div class="box"><img ng-src="{{ad._fileUrl}}"/></div>
            </ion-slide>
        </ion-slide-box>

        <div class="nav_list">
            <div class="row">
                <div class="col col-33" ng-click="goDataCollect('data')">
                    <div class="nav_list_item" style="background:#26c082">
                        <img src="images/dataCollect.png"/>

                        <p class="text-center">业务数据</p>
                    </div>
                </div>
                <div class="col col-33" ng-click="goDataCollect('doc')">
                    <div class="nav_list_item" style="background:#feb93e">
                        <img src="images/infoCollect.png"/>

                        <p class="text-center">项目资料</p>
                    </div>
                </div>
                <div class="col col-33" ng-click="goDataCollect('bill')">
                    <div class="nav_list_item" style="background:#1ae27b">
                        <img src="images/bill.png"/>

                        <p class="text-center">项量清单</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-33" ng-click="goDataCollect('material')">
                    <div class="nav_list_item" style="background:#e9897e">
                        <img src="images/material.png"/>

                        <p class="text-center">材料管理</p>
                    </div>
                </div>
                <div class="col col-33" ng-click="goApproval()">
                    <div class="nav_list_item" style="background:#1dd2e2">
                        <img src="images/dataApprove.png"/>

                        <p class="text-center">业务审批</p>
                    </div>
                </div>
                <div class="col col-33" ng-click="goApprovalProcess()">
                    <div class="nav_list_item" style="background:#4e83ed">
                        <img src="images/faultRepair.png"/>

                        <p class="text-center">审批进度</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-33" ng-click="goProjectPrice()">
                    <div class="nav_list_item" style="background:#99c868">
                        <img src="images/queryproject.png"/>

                        <p class="text-center">项目查询</p>
                    </div>
                </div>
                <div class="col col-33" ng-click="goClockingin()">
                    <div class="nav_list_item" style="background:#f1817b">
                        <img src="images/clockingin.png"/>

                        <p class="text-center">考勤管理</p>
                    </div>
                </div>
                <div class="col col-33">
                    <div class="nav_list_item" style="background:#b5b5b5">
                        <img src="images/developing.png"/>

                        <p class="text-center">建设中</p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>

</ion-view>

