<ion-view hide-tabs="true" class="approval dataCollect">
    <!--顶部栏目 开始-->
    <ion-header-bar align-title="center" class="bar-positive">
        <div class="buttons">
            <button class="button icon button-clear ion-ios-arrow-back" ng-click="goBack()"></button>
        </div>
        <h1 class="title">工程列表</h1>
    </ion-header-bar>
    <!--主内容区域栏目 开始-->
    <ion-content class="has-header  " padding="false">

        <div class="item-input-inset">
            <label class="item-input-wrapper" style="background: #fff;">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" ng-model="pageData.keyword" placeholder="输入项目部分信息" ng-change="searchZjsprojects()">
            </label>
        </div>
        <div >
            <label class="item item-icon-right" style="background: #fff;" ng-click="chooseDate($event,1)">
                <span>开始时间</span>
                <span class="item-note" data_key="pageData.searchData.startTime" data_name="开始时间" needValidate required ng-model="pageData.searchData.startTime">{{pageData.searchData.startTime | date : 'yyyy-MM-dd'}}</span>
                <i class="icon ion-ios-timer-outline calm" style="font-size:21px"></i>
            </label>
            <label class="item item-icon-right" style="background: #fff;" ng-click="chooseDate($event,2)">
                <span>结束时间</span>
                <span class="item-note" data_key="pageData.searchData.endTime" data_name="结束时间" needValidate required ng-model="pageData.searchData.endTime">{{pageData.searchData.endTime | date : 'yyyy-MM-dd'}}</span>
                <i class="icon ion-ios-timer-outline calm" style="font-size:21px"></i>
            </label>
            <div style = "text-align:right;">
                <button class="button button-clear" ng-click="searchZjsprojects()" style="color:#1db1ee">
                    搜索
                </button>
            </div>
        </div>
        <ion-refresher pulling-text="下拉刷新..." on-refresh="refreshZjsprojects()"></ion-refresher>
        <ion-list can-swipe="true">
            <ion-item class="card" ng-click="openZjsprojectsModal(zjsproject.id)" ng-repeat="zjsproject in pageData.zjsprojects" on-finish-render-filters>
                <div class="item item-text-wrap">
                    {{zjsproject.name}}
                </div>
            </ion-item>
        </ion-list>
        <div ng-if="zjsprojects.length==0">
            <div ng-include="'templates/noResult.html'"></div>
        </div>
        <ion-infinite-scroll ng-if="pageData.moreData" on-infinite="loadZjsprojectsMore()" distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>

