<ion-modal-view class="approval dataCollect">
    <ion-header-bar class="bar bar-header bar-stable">
        <button class="button button-clear"><span class="positive">选择费用类型</span></button>
        <h1 class="title"></h1>
        <button class="button button-clear" ng-click="closeSearchCostsTypeModal()">
            <i style="color:#999" class="icon ion-android-cancel"></i>
        </button>
    </ion-header-bar>
    <ion-content>

        <div class="row" ng-repeat="costInfo in costInfoTree" ng-class="{even: !$even, odd: !$odd}">
            <div class="col col-60 "><span style="font-size: 16px">{{costInfo.name}}</span></div>
            <div class="col col-40 " align="center">
                <button class="button-clear" ng-show="costInfo.children.length > 0" ng-click="getCostType(costInfo)" style="color:#1db1ee">
                    下一级
                </button>
                <button class="button-clear" ng-click="selectedCostType(costInfo)" style="color:#1db1ee">
                    选择
                </button>
            </div>
        </div>

    </ion-content>
</ion-modal-view>

